@model Microsoft.AspNetCore.Mvc.ViewFeatures.ViewDataDictionary

<h1 class="text-danger">An error occurred</h1>
<p class="text-warning">@ViewData["ErrorMessage"]</p>
<a href="/" class="btn btn-primary">Return Home</a>
